@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

title {
    display: none;
}

body{
    background-color: #EBECF0;
    margin: 0;
    padding: 0;
}

.main {
    z-index: 50;
    position: fixed;
    font-family: "Outfit", sans-serif;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 0px 20px -10px;
}

.main-top {
    z-index: 100;
    position: fixed;
    margin-top: -10vh;
    font-family: "Outfit", sans-serif;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 0px 20px -10px;
}

.top_page, .top_page a,.top_page nav,.main a svg{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: white;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-size: 2.5vh;
}

a.active{
    color: blue;
}

section.btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white;
    margin: 0px 20px;
    padding: 0px 10px;
}

.btn a {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    background-color: white;
    padding: 3px 20px;
    border: 1px solid black;
    box-shadow: 0px 1.5px 1px -0.2px rgb(194, 190, 190);
    text-decoration: none;
    color: black;
    cursor: pointer;
}



.top_page {
    padding: 0px 30px;
}

.logo { 
    width: 50px;
    height: 50px;
    background-color: white;    
}